.wrapper {
    display: flex;
    justify-content: center;
}


.country-container {
    width: 460px;
    padding: 20px 10px 0px;
    margin-top: 80px;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(45deg,
            hsl(240deg 65% 93%) 0%,
            hsl(271deg 96% 94%) 11%,
            hsl(303deg 100% 93%) 22%,
            hsl(316deg 100% 92%) 33%,
            hsl(337deg 100% 92%) 44%,
            hsl(6deg 100% 90%) 56%,
            hsl(27deg 100% 86%) 67%,
            hsl(39deg 100% 81%) 78%,
            hsl(48deg 100% 77%) 89%,
            hsl(55deg 100% 75%) 100%);
    box-shadow: 0 4px 8px 0 rgba(82, 82, 82, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.country-container:hover {
    background-image: linear-gradient(45deg,
            hsl(240deg 87% 88%) 0%,
            hsl(272deg 88% 88%) 11%,
            hsl(309deg 94% 87%) 22%,
            hsl(323deg 100% 87%) 33%,
            hsl(341deg 100% 87%) 44%,
            hsl(5deg 100% 87%) 56%,
            hsl(25deg 100% 82%) 67%,
            hsl(38deg 100% 79%) 78%,
            hsl(48deg 100% 76%) 89%,
            hsl(55deg 100% 75%) 100%);
}

.country-flag {
    width: 400px;
}

.country-info {
    text-align: left;
    padding: 20px;
}

.country-info li {
    width: 400px;
    display: grid;
    grid-template-columns: 100px 280px;
    align-items: center;
    background-color: #f5eded;
    margin-bottom: 10px;
    padding: 0 10px;
    border-radius: 5px;
}

h5 {
    font-weight: normal;
    font-size: 20px;
    color: #221f1f;
}

.country-info li span {
    color: blueviolet;
    font-size: 22px;
}