:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #000000;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {

}

.home {
  background-color: aqua;
}

/* ----- Header Component ---- */
header {
  background-color: #fff;
  position: relative;
  padding: 10px;
  text-align: center;
  border-bottom: solid 1px;
  box-shadow: ;
}

.mode {
  position: absolute;
  top: 25px;
  right: 25px;
}